@import '/src/common/styles/sass/mixins.scss';
@import '/src/common/styles/sass/variables.scss';

.projectContainer {
  @include container();
  @include flex(column, flex-start, flex-start, wrap);
  row-gap: 50px;
  min-height: 80vh;

  .projects {
    @include flex(row, space-around, flex-start, wrap);
    width: 100%;
    gap: 30px;
  }
}

