@import 'src/common/styles/sass/mixins';
@import 'src/common/styles/sass/variables';

.project {
  @include flex(column, center, center, wrap);
  background: $themeColor;
  width: 350px;
  text-align: center;
  row-gap: 50px;
  box-shadow: 0 4px 15px rgba(5, 5, 6, 0.4);

  .icon {
    @include flex(row, center, center, wrap);
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;


    .overLay {
      @include flex(column, center, center, nowrap);
      padding: 20px;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      -webkit-transition: opacity .25s ease-in-out;
      -o-transition: opacity .25s ease-in-out;
      transition: opacity .25s ease-in-out;

      &:hover {
        opacity: 1;

      }

      .title {
        @include textStyle($activeTextColor, 1.3em, 600, 2em, normal);
        text-transform: uppercase;
      }

      .description {

        @include textStyle($activeTextColor, 1em, 300, 1.6em, normal);

      }
    }
  }
}