@import './../common/styles/sass/variables';

.header {
  height: 80px;
  background: $bgColor;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 9997;

  .headerContainer {
    padding: 0;
    display: flex;
    align-items: center;
  }
}