@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';
.test{
  height: max-content;
  min-height: 50px;
  border: 1px solid;
}
.contactsForm {
  @include flex(column, flex-start, stretch, nowrap);
  margin: 50px auto;
  width: 100%;
  padding: 45px;
  background: $activeTextColor;
  box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
  max-width: 550px;
  row-gap: 15px;

  .formRow {
    position: relative;
    margin-bottom: 40px;

    textarea {
      resize: none;
      @include formField()
    }

    input {
      @include formField()
    }

    label {
      position: absolute;
      left: 0;
      bottom: -30px;
      color: $menuTextColor;
      font-size: 1em;
      font-weight: 300;
      transform: translateY(-35px);
      transition: all 0.2s ease;
    }
  }
}