@import './src/common/styles/sass/mixins';

.skillsBlock {
  min-height: 100vh;
  background: #f5f8fd;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 50px;


    .skills {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      row-gap: 50px;
      column-gap: 50px;

      li {
        width: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        row-gap: 15px;
      }
    }

    .title {
      @include sectionTitle()
    }

  }
}