@import './src/common/styles/sass/mixins';
@import './src/common/styles/sass/variables';

  .contactsContainer {
    @include container();
    @include flex(column, flex-start, flex-start, nowrap);
    min-height: 80vh;
    p {
      font-family: "Poppins", sans-serif;
      font-size: 1.2em;
      font-weight: 500;
    }
  }



