@import './../common/styles/sass/variables';
@import './../common/styles/sass/mixins';

header.mobileHeader {
  @media (max-width: 1199px) {
    transform: translate(0, 0);
  }
}

.mobileNavBtn {
  @media (min-width: 1199px) {
    display: none;
  }
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;

  svg {
    font-size: 2em;
    color: $themeColor;
  }
}

.header {
  height: 80px;
  background: $bgColor;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 9997;

  @media (max-width: 1199px) {
    max-width: 420px;
    height: 100vh;
    transform: translate(-420px, 0);
    transition: all 800ms ease-in-out;
  }
}

.headerContainer {
  @include container();
  @include flex(row, space-between, flex-start, nowrap);
  padding: 0;
  @media (max-width: 1199px) {
    @include flex(column, flex-start, flex-start, nowrap);
  }
}