@import 'variables';

@mixin container() {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  padding: 50px 0;

}

@mixin flex($flexDirection, $justifyContent, $alignItems, $wrap) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: $wrap;
}

@mixin textStyle($color,$fontSize,$fontWeight,$lineHeight, $letterSpacing) {
  color: $color;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

@mixin formField() {
  font-size: 1.1em;
  color: $mainTextColor;
  display: block;
  width: 100%;
  padding: 0 10px;
  line-height: 2em;
  font-family: 'Roboto', sans-serif;
  background: none;
  border-width: 0;
  border-bottom: 2px solid $themeColor;
  transition: all 0.2s ease;
  &:focus {
    outline: 0;
    border-color: $menuTextColor;
  }
  &:focus + label, &:valid + label {
    transform: translateY(-70px);
    font-size: 0.8em;
    font-weight: 400;
    outline: 0;
    border-color: $themeColor;
    color: $themeColor;
  }
}