@import './src/common/styles/sass/variables';

.footerBlock {
  justify-content: space-evenly;
  background: $bgColor;
  height: 80px;

  .footerContainer {
    padding: 15px;
    flex-direction: column;
    flex-wrap: wrap;

    h4 {
      color: $activeTextColor;
      font-size: 0.9em;

      svg:hover {
        fill: #149ddd;
      }
    }

    .socialShare {
      display: flex;
      flex-direction: row;
      column-gap: 40px;

      a {
        text-decoration: none;

        svg {
          width: 1.7em;
          height: 100%;
          color: $activeTextColor;

          &:hover {
            fill: #149ddd;
          }
        }
      }
    }


    span {
      color: $menuTextColor;
      font-size: 0.8em;
    }
  }
}

