.projectsBlock{
    background: #61dafb;
    min-height: 100vh;
}
.projectContainer{
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 50px;
}
.projects{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 20px;
}

.title {
    background: #3df69b;
}